#### 针对23、24级同学

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point

In [2]:
def df2gpkg(students_df):
    points = list(zip(students_df['Longitude'], students_df['Latitude']))
    points = [Point(point) for point in points]
    students_gdf = gpd.GeoDataFrame(students_df.drop(columns=['Longitude', 'Latitude']), 
                                        geometry=points) 
    students_gdf.crs = "EPSG:4326"
    return students_gdf

In [3]:
def add_num_students(students_gdf, china_gdf, column='num_students_2023'):
    num_in_geos = []
    for geo in china_gdf['geometry']:
        points = students_gdf.geometry
        num_in_geo = points.within(geo).sum()
        num_in_geos.append(num_in_geo)
    ### Add a new column.
    china_gdf_ = china_gdf.copy()
    china_gdf_[column] = num_in_geos
    return china_gdf_

In [4]:
students_2023_df = pd.DataFrame(
    {
        "Name":      ["顾舒扬", "周全",   "余金珂", "张钰婷",  "吕行",   "魏宇涵",  "胡晟昊", "蔡熠",   "杨彭武", "卢玉",   "李晓涛", "尹鹏翔", "任康妮",  "岩叫",   "陈禹彤", "姜春阳",  "林丹妮",  "李齐力", "李良瑞", "任昶旭", "王盈怡", "连思强", "连军瑜",  "张宇航", "刘明岳",  "牟兵",  "李世鑫", "邓灿",   "陈鑫",   "杨玲坪", "奚剑波", "蒋志颖", "李毓梁", "陈龙", "涂世彤",  "刘可一", "娜海",  "聂梦婷", "赵秋月"],
        "Gender":    ["boy",   "boy",    "boy",    "girl",   "boy",    "boy",    "boy",    "boy",   "boy",    "boy",   "boy",    "boy",   "girl",    "boy",   "girl",   "boy",    "girl",   "boy",    "boy",    "boy",   "girl",   "girl",  "girl",   "boy",    "boy",    "boy",   "boy",    "boy",   "boy",    "boy",    "boy",   "girl",  "boy",    "boy", "girl",   "boy",    "girl",  "girl",  "girl"],
        "Longitude": [120.270,  103.765,  103.765, 102.195,  103.130,  118.089,  110.453,  119.008, 102.850,  103.795, 120.270,  118.250,  111.144,  100.79,  118.526,  116.170,  120.437,  113.450,  103.400,  119.107, 110.128,  118.680, 118.370,  106.917,  116.170,  105.148, 103.680, 115.950,  114.870,  100.212, 106.550,  100.212, 103.717, 103.800, 103.707,  113.650, 100.450, 106.330, 105.450],
        "Latitude":  [30.188,   29.552,   29.552,  38.526,   23.030,   24.291,   31.133,   25.43,   24.827,   25.496,  30.188,   35.416,   37.518,   22.01,   42.152,   41.120,   27.725,   30.336,   30.540,   36.709,  27.457,   25.370,  24.540,   29.570 ,  41.120,   28.438,  27.370,  30.076,   30.440,   25.613,  25.613,   25.613,  27.338,  25.50,   27.320,   34.800,  22.400,  29.350,  23.560],
        "Elevation": [10,       320,      320,     1400,     1307,     165,      302,      24,      2008,     2000,    10,       27,       1161,     552.7,   320,      2000,     119,      21.5,     594,      23,      170,      78,      301,      237,      2000,     649,     1685,    39,       90,       2019,    238,      2019,    1685,    2000,    1685,     108,     2350,    221,     750],
    }
)
students_2023_df.head(2)

  Name Gender  Longitude  Latitude  Elevation
0  顾舒扬    boy    120.270    30.188       10.0
1   周全    boy    103.765    29.552      320.0

In [5]:
students_2024_df = pd.DataFrame(
    {
        "Name":      ["郑道旸", "孙苡皓",   "胡枭鑫", "杨琦佳",  "李根轩",   "周星宇",  "浦方州",   "段忠彬",   "李永旭",   "施珍敏",   "刘兴茹",  "李欣荣",   "成蔚",    "娄以佳",   "孔令娜",   "何哈优",  "郑静",      "袁婧",   "王显峰",    "李树萍",   "李佳宇",   "胡喜",   "杨韦嘉",   "石娜丽",    "洪阳",    "许人允",   "汪俊涵",   "邰新茹"],
        "Gender":    ["boy",   "boy",      "boy",    "girl",   "boy",     "boy",     "boy",      "boy",     "boy",     "girl",     "girl",   "girl",     "girl",    "girl",    "girl",    "girl",    "girl",     "girl",   "boy",      "girl",     "boy",     "boy",    "girl",    "girl",      "boy",    "girl",     "boy",     "girl"],
        "Longitude": [117.730,  102.478,    104.642,   117.150,  98.530,   106.550,   120.270,    98.530,    115.433,   118.543,   120.193,   106.170,   103.707,   103.717,    100.250,   103.430,   118.880,   105.054,   98.521,     98.390,     106.547,   105.450,  109.080,    103.430,    98.916,   102.850,    103.368,    120.270],
        "Latitude":  [39.030,   24.919,     28.752,    35.083,   24.398,   25.613,    30.188,     24.398,    37.583,    26.537,    35.904,    37.120,    27.320,    27.338,     26.860,    24.410,    28.920,    29.583,    24.397,     25.330,     29.564,    23.560,   24.850,     24.410,     26.330,   24.827,     23.966,     41.340],
        "Elevation": [2,       1990,       321,        65.4,     876,      238,       10,         876,       46,        493,       25,        1200,      1685,      1685,       2400,      1450,      100,       387,       895,        1100,       238,       50,       913,        1450,       2500,     2008,       1118,       168],
    }
)
students_2024_df.head(2)

  Name Gender  Longitude  Latitude  Elevation
0  郑道旸    boy    117.730    39.030        2.0
1  孙苡皓    boy    102.478    24.919     1990.0

In [7]:
students_2023_gdf = df2gpkg(students_df=students_2023_df)
students_2024_gdf = df2gpkg(students_df=students_2024_df)
students_2023_gdf.to_file('course/students_info/students_2023.gpkg', driver='GPKG')
students_2024_gdf.to_file('course/students_info/students_2024.gpkg', driver='GPKG')

#### add new columns to the china vector

In [11]:
path_china = 'data/ChinaAdminDivisionSHP/2. Province/province.shp'
china = gpd.read_file(path_china)
china.head(2)

,pr_adcode,pr_name,cn_adcode,cn_name,geometry
0,110000,北京市,100000,中华人民共和国,"POLYGON ((116.89226 39.69491, 116.89227 39.694..."
1,120000,天津市,100000,中华人民共和国,"MULTIPOLYGON (((113.77712 36.63946, 113.7808 3..."

In [ ]:
num_stud_province_2023 = add_num_students(students_gdf=students_2023_gdf, china_gdf=china, column='num_students_2023')
num_stud_province_2024 = add_num_students(students_gdf=students_2024_gdf, china_gdf=china, column='num_students_2024')
# num_stud_province_2024['num_students_all'] = num_stud_province_2024['num_students_2023'] + num_stud_province_2024['num_students_2024']
num_stud_province_2023.head(3)

In [ ]:
# num_stud_province_2023.to_file('course/students_info/num_stud_province_2023.gpkg', driver='GPKG')
# num_stud_province_2024.to_file('course/students_info/num_stud_province_2024.gpkg', driver='GPKG')