#### 针对25级及以后同学

In [ ]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [79]:
path_stud_info = 'course/students_info/students-post2025/stud_info.csv'
path_china_province = 'data/ChinaAdminDivisionSHP/2. Province/province.shp'

In [80]:
stud_info_pd = pd.read_csv(path_stud_info)
stud_info_pd.head()

    姓名 性别   家乡所在省 家乡所在市
0  常智辉  男     云南省   曲靖市
1   唐帅  男     河北省  张家口市
2  张国玺  男     云南省   昭通市
3  刘奕菲  女     山东省   潍坊市
4  袁志勇  男  内蒙古自治区   赤峰市

In [84]:
china_pr_gdf = gpd.read_file(path_china_province)
china_pr_gdf.head(2)

,pr_adcode,pr_name,cn_adcode,cn_name,geometry
0,110000,北京市,100000,中华人民共和国,"POLYGON ((116.89226 39.69491, 116.89227 39.694..."
1,120000,天津市,100000,中华人民共和国,"MULTIPOLYGON (((113.77712 36.63946, 113.7808 3..."

In [ ]:
stud_info_pd_ = pd.merge(
    left = stud_info_pd,
    right = china_pr_gdf[['pr_name', 'geometry']],
    left_on='家乡所在省',
    right_on='pr_name',
    how='left',
    )
stud_info_pd_.pop('pr_name')
stud_info_gdf = gpd.GeoDataFrame(
    stud_info_pd_,
    geometry='geometry',
    crs=china_pr_gdf.crs,
    )
# stud_info_gdf.to_file('course/students_info/students_2025.gpkg', driver='GPKG')

In [ ]:
num_in_province = []
for pr in china_pr_gdf['pr_name']:
    pr_num = stud_info_gdf['家乡所在省'] == pr
    pr_num = pr_num.sum()
    num_in_province.append(pr_num)
### Add a new column.
china_pr_gdf_ = china_pr_gdf.copy()
china_pr_gdf_['num_students_2025'] = num_in_province
china_pr_gdf_
# china_pr_gdf_.to_file('course/students_info/num_stud_province_2025.gpkg', driver='GPKG')